<h1>Artists</h1>


<div class="content-left">
  <ul id="artists-list">
  <% @artists.each do |artist| %>
    <li>
      <%= link_to artist.name, artist_url(artist) %> <%= artist.cached_score %>
    </li>
  <% end %>
  </ul>
</div>

<div id="content">
  <%# TODO: prevent default (keep an entry for being added in history) %>
  <% if current_user %>
    <a href="#artists/new">Add new artist</a>
  <% end%>
</div>

<%# TODO: determine if there is any need for this at all %>
<script type="application/javascript">
  Notes.initialize("<%= root_url %>");

  <% if current_user %>
    <% id = current_user.id %>
  <% else %>
    <% id = 0 %>
  <% end %>

  Notes.currentUser = <%= id %>;


  Notes.authToken = "<%= form_authenticity_token %>"
  new Notes.Routers.ArtistsRouter($('#content'));
  Backbone.history.start();
</script>