<div id="content">
  <div class="content-left">
    <h2 class="artist-header"><%= @artist.name %></h2>

    <h3>Songs by <%= @artist.name %></h3>
    <ul id='song-list'>
      <% @artist.songs.each do |song| %>
        <li>
          <%= link_to song.title, song_url(song) %>
        </li>
      <% end %>
    </ul>

    <h3>Albums by <%= @artist.name %></h3>
    <ul id='albums-list'>
      <% @artist.albums.each do |album| %>
      <li>
        <%= link_to album.title, album_url(album) %>
      </li>
      <% end %>
    </ul>

    <% if current_user %>
      <div id="new-album-container">
        <a class="albums-new" href="#albums/new"><%= "Add another album by " << @artist.name %></a>
      </div>
    <% end %>
  </div>

</div>

<script id="bootstrapped_artists_json" type="application/json">
  <%= [@artist].to_json.html_safe %>
</script>

<script>
$(document).ready(function() {
  Notes.initialize("<%= root_url %>");

  <% if current_user %>
    <% id = current_user.id %>
  <% else %>
    <% id = 0 %>
  <% end %>

  Notes.currentUser = <%= id %>;
  Notes.Artists = JSON.parse($('#bootstrapped_artists_json').html());

  Notes.authToken = "<%= form_authenticity_token %>"
  new Notes.Routers.AlbumsRouter($('#new-album-container'));
  Backbone.history.start();
});
</script>