<% var voteValue = function(currentUser, votableType, votableId, voteSet) { %>
  <% for (var i = 0; i < voteSet.length; i++) { %>
    <% var vote = voteSet[i]; %>
    <% if (vote.votable_type != votableType || vote.votable_id != votableId) { %>
      <% continue %>
    <% } else { %>
      <% return vote.value; %>
    <% } %>
  <% } %>
  <% return 0; %>
<% } %>

<% var extentVote = voteValue(currentUser, votableType, votableId, voteSet) %>

<div class="vote-container"><div class="in-vote-container">Score: <span class="vote-span"><%= totalVotes %></span></div>
  <% if (currentUser) { %>
    <div class="vote in-vote-container">


      <!-- Make these conditional on login and not having already voted. -->
      <form class="vote-form" data-id="1">
        <input type="hidden" name="vote[user_id]" value="<%= currentUser %>">
        <input type="hidden" name="vote[votable_type]" value="<%= votableType %>">
        <input type="hidden" name="vote[votable_id]" value="<%= votableId %>">
        <input type="hidden" name="vote[value]" value="1">
        <input type="hidden" name="swap" class="swap" value="<%= extentVote %>">
        <% if (extentVote === 1) { %>
          <input type="submit" class="vote-button" value="Upvote this" disabled="disabled">
        <% } else { %>
          <input type="submit" class="vote-button" value="Upvote this">
        <% } %>
      </form>

      <form class="vote-form" data-id="-1">
        <input type="hidden" name="vote[user_id]" value="<%= currentUser %>">
        <input type="hidden" name="vote[votable_type]" value="<%= votableType %>">
        <input type="hidden" name="vote[votable_id]" value="<%= votableId %>">
        <input type="hidden" name="vote[value]" value="-1">
        <input type="hidden" name="swap" class="swap" value="<%= extentVote %>">
        <input type="submit" class="vote-button" value="Downvote this"
        <% if (extentVote === -1) { %>
          disabled="disabled"
        <% } %>
        >

      </form>
    </div>
  <% } %>
</div>