<h1>Songs</h1>

<div class="success"></div>

<div class="content-left">
  <ul id="song-list">
  <% @songs.each do |song| %>
    <li>
      <%= link_to song.title, song_url(song) %> by
        <%= link_to song.artist.name, artist_url(song.artist) %>

        <% sign = song.cached_score.to_i < 0 ? "neg" : "pos" %>

        (<span class="<%= sign %>"><%= "%+d" % song.cached_score %></span> today)
    </li>
  <% end %>
  </ul>
  <%= paginate @songs %>
</div>

<div id="content">
  <% if current_user %>
    <a href="#songs/new">Add new song</a>
  <% end %>
</div>

<script type="application/json" id="bootstrapped_albums_json">
  <%# TODO: figure out how to get only those albums made by artist already selected %>
  <%= Album.all.to_json.html_safe %>
</script>

<script type="application/json" id="bootstrapped_artists_json">
  <%= Artist.all.to_json.html_safe %>
</script>

<script type="application/javascript">
  <%# TODO: prepend link to newly created song on form submit %>
  // load songs router in backbone?
  // yes. need separate song-show and song-index router... idk
  Notes.initialize("<%= root_url %>");
  Notes.authToken = "<%= form_authenticity_token %>"

  <% if current_user %>
    <% id = current_user.id %>
  <% else %>
    <% id = 0 %>
  <% end %>

  Notes.currentUser = <%= id %>;

  // console.log($('#bootstrapped_albums_json').html());
  Notes.Albums = JSON.parse($('#bootstrapped_albums_json').html());
  Notes.Artists = JSON.parse($('#bootstrapped_artists_json').html());

  <% if current_user %>
    <% id = current_user.id %>
    <% user_name = current_user.username %>
  <% else %>
    <% id = 0 %>
    <% user_name = nil %>
  <% end %>
  Notes.currentUser = <%= id %>;
  Notes.currentUserName = "<%= user_name %>";


  new Notes.Routers.SongsRouter($('#content'));
  Backbone.history.start();
</script>