<div id="content">
  <h2><%= @song.title %></h2>

  <p id="lyrics">
    <%= @song.lyrics %>
  </p>
</div>

<script id="bootstrapped_song_json" type="application/json">
  <%# bootstrap current song here. TODO: should we mark this HTML-safe? %>
  <%= @song.to_json(include: :comments).html_safe %>
</script>

<script id="bootstrapped_notes_json" type="application/json"><%= @song.notes.order("start_index DESC").to_json(include: :comments).html_safe %></script>

<script>
  $(document).ready(function() {
    // console.log($("#bootstrapped_song_json").html());
    var song = JSON.parse($("#bootstrapped_song_json").html());
    var rawNotes = $("#bootstrapped_notes_json").html();
    console.log(rawNotes);
    if (rawNotes) {
      var notesData = JSON.parse(rawNotes);
    }

    Notes.initialize("<%= root_url %>");

    <% if current_user %>
      <% id = current_user.id %>
    <% else %>
      <% id = 0 %>
    <% end %>
    Notes.currentUser = <%= id %>;
    Notes.authToken = "<%= form_authenticity_token %>"

    Notes.currentNotes = new Notes.Collections.Notes(notesData); // (notesData);


    new Notes.Routers.ShowSongRouter($('#content'), song, notesData);
    Backbone.history.start();
  })
</script>