<h1>Albums</h1>

<div class="content-left">
  <ul id="albums-list">
  <% @albums.each do |album| %>
    <li>
      <%= link_to album.title, album_url(album) %> by
        <%= link_to album.artist.name, artist_url(album.artist) %>
        (<%= "%+d" % album.cached_score %> today)
    </li>
  <% end %>
  </ul>
</div>

<div id="new-album-container">
  <%# TODO: prevent default (keep an entry from being added in history) %>
  <% if current_user # care re # %>
    <a class="albums-new" href="#albums/new">Add new album</a>
  <% end %>
</div>

<script type="application/json" id="bootstrapped_artists_json">
  <%= Artist.all.to_json.html_safe %>
</script>

<%# TODO: determine if there is any need for this at all %>
<script type="application/javascript">
  $(document).ready(function() {
    Notes.initialize("<%= root_url %>");

    <% if current_user %>
      <% id = current_user.id %>
    <% else %>
      <% id = 0 %>
    <% end %>

    Notes.currentUser = <%= id %>;
    Notes.Artists = JSON.parse($('#bootstrapped_artists_json').html());

    Notes.authToken = "<%= form_authenticity_token %>"
    new Notes.Routers.AlbumsRouter($('#new-album-container'));
    Backbone.history.start();
  });
</script>