<div id="content">
  <h2><%= @album.title %> by <%= link_to @album.artist.name, artist_url(@album.artist) %></h2>

  <div class="content-left">
    <ul id='song-list'>
      <% @album.songs.each do |song| %>
        <li>
          <%= link_to song.title, song_url(song) %>
        </li>
      <% end %>
    </ul>
  </div>

  <% if current_user %>
    <div id="new-song-container">
      <a class="songs-new" href="#songs/new"><%= "Add another song to " << @album.title %></a>
    </div>
  <% end %>

</div>

<script id="bootstrapped_albums_json" type="application/json">
  <%= [@album].to_json.html_safe %>
</script>

<script id="bootstrapped_artists_json" type="application/json">
  <%= [@album.artist].to_json.html_safe %>
</script>

<script>
  $(document).ready(function() {
    Notes.initialize("<%= root_url %>");

    <% if current_user %>
      <% id = current_user.id %>
    <% else %>
      <% id = 0 %>
    <% end %>

    Notes.currentUser = <%= id %>;
    Notes.Artists = JSON.parse($('#bootstrapped_artists_json').html());
    Notes.Albums = JSON.parse($('#bootstrapped_albums_json').html());


    Notes.authToken = "<%= form_authenticity_token %>"
    new Notes.Routers.SongsRouter($('#new-song-container'));
    Backbone.history.start();
  });

</script>