<div id="content">
  <h2><%= song.title %></h2>

  <div class="lyrics-div">
    <p id="lyrics">
      <%= song.lyrics %>
    </p>
  </div>

  <% _.each(notes, function(note) { %>

    <%= JST["notes/show"]({
      note: note,
      currentUser: currentUser
    })%>
    <!-- <div class="note hidden" data-id="<%= note.id %>"><p><%= note.body %></p></div> -->
  <% }) %>
</div>

<!--  /*TODO: set up comment and note handling.*/ -->