<div id="content">
  <h2><%= song.title %></h2>

  <%= JST["votes/div"]({
    totalVotes: song.score,
    currentUser: currentUser,
    votableType: "Song",
    votableId: song.id,
    voteSet: Notes.votes,
    author: song.user_id
  }) %>

  <div class="lyrics-div">
    <p id="lyrics">
      <%= song.lyrics %>
    </p>
  </div>

  <% _.each(notes, function(note) { %>

    <%= JST["notes/show"]({
      note: note,
      currentUser: currentUser
    })%>
  <% }) %>

  <div class="comment-section">
    <% if (currentUser) { %>
      <form class="song-comment-form" action="#comment" method="POST">
        <input type="hidden" name="comment[user_id]" value="<%= currentUser %>">
        <input type="hidden" name="comment[commentable_id]" value="<%= song.id %>">
        <input type="hidden" name="comment[commentable_type]" value="Song">
        <label>
          Comment on this song!
          <textarea name="comment[body]"></textarea>
          <input type="submit" value="Submit comment">
        </label>
      </form>
    <% } %>

    <div class="song-comments">
      <div class="song-comments-infobox"><%= song.comments.length %> comments on this song:</div>
      <% _.each(song.comments, function(comment) { %>
        <%= JST["comments/show"]({
          comment: comment,
          currentUser: currentUser
        }) %>
      <% }) %>
    </div>
  </div>
</div>

