<% if (!note.comments) { %>
  <% note.comments = []; %>
<% } %>
<div class="note hidden" data-id="<%= note.id %>"><p><%= note.body %></p>
  <% if (currentUser) { %>
    <%= JST["votes/div"]({
      totalVotes:  note.score,
      currentUser: currentUser,
      votableType: "Note",
      votableId: note.id,
      voteSet: Notes.votes,
      author: note.user_id
    }) %>
  <% } %>

  <div class="comment-section">
    <% if (currentUser) { %>
      <form class="note-comment-form" action="#comment" method="POST">
        <input type="hidden" name="comment[user_id]" value="<%= currentUser %>">
        <input type="hidden" name="comment[commentable_id]" value="<%= note.id %>">
        <input type="hidden" name="comment[commentable_type]" value="Note">
        <label>
          Comment on this note!
          <textarea name="comment[body]"></textarea>
          <input type="submit" value="Submit comment">
        </label>
      </form>
    <% } %>

    <div class="note-comments">
      <div class="note-comments-infobox"> <!-- <%= note.comments.length %> --> Comments on this note:</div>
      <% _.each(note.comments, function(comment) { %>
        <%= JST["comments/show"]({
          comment: comment,
          currentUser: currentUser
        })%>
      <% }) %>
    </div>
  </div>
</div>