<form class="album-form" action="<%= url %>" method="<%= method %>">
  <input type="hidden" name="authenticity_token" value="<%= authToken %>">
  <input type="hidden" name="album[user_id]" value="<%= currentUser %>">

  <div class="errors"></div>

  <label>
    Album title
    <input type="text" name="album[title]" value="<%= album.title %>">
  </label>

  <label>
    Artist
    <select name="album[artist_id]">
      <!-- TODO: dynamically populate this using collection of artists -->
      <option value="">Choose an artist</option>
      <% for (var i = 0; i < Notes.Artists.length; i++) { %>
        <% var artist = Notes.Artists[i]; %>
        <option value="<%= artist.id %>"><%= artist.name %></option>
      <% } %>
    </select>
  </label>

  <input type="submit" value="Add album!">
</form>