<!DOCTYPE html>
<html>
<head>
  <title>Notes</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="javascript-request">You must have Javascript enabled to view this page.</div>

  <% if current_user %>
    <span id='current-user'>Signed in as
      <%= link_to current_user.username, user_url(current_user) %>. You have
      <%= current_user.score.to_s %> points, with <%= current_user.recent_score.to_s %>
      in the last 24 hours.</span>
  <% end %>
  <% if current_user %>
    <a id="login-link" class="hidden" href="#/sign_in">Sign In</a>
    <a id="logout-link" href="#/sign_out">Log Out</a>
  <% else %>
    <a id="login-link" href="#/sign_in">Sign In</a>
    <a id="logout-link" class="hidden" href="#/sign_out">Log Out</a>
  <% end %>

  <form id="login" class="hidden" action="<%= session_url %>" method="POST">
    <div class="login-errors"></div>
    <label>Username <input type="text" name="user[username]"></label>
    <label>Password <input type="password" name="user[password]"></label>
    <input type="submit" value="Sign In">
    <a id="signup-link" href="#<%#= new_user_url %>">Sign Up</a>
  </form>

  <form id="signup" class="hidden" action="<%= users_url %>" method="POST">
    <div class="signup-errors"></div>
    <label>Email <input type="text" name="user[email]"></label>
    <label>Username <input type="text" name="user[username]"></label>
    <label>Password <input type="password" name="user[password]"></label>
    <input type="submit" value="Sign Up">
    <!-- # TODO password confirmation -->
  </form>



  <div class="navbar group">
    <div class="logo-header">
      <h1><a class="logo-link" href="<%= root_url %>">notes</a></h1>
    </div>

    <ul class="navlist">
      <li>
        <%= link_to "Artists", artists_url %>
      </li>
      <li>
        <%= link_to "Albums", albums_url %>
      </li>
      <li>
        <%= link_to "Songs", songs_url %>
      </li>
      <li>
        <form action="<%= root_search_url %>" method="GET">
          <label> Search <input type="text" name="search[query]"> </label>
          <input type="submit" value="Search">
        </form>
      </li>
    </ul>
  </div>


<%= yield %>

<script>
$(document).ready(function() {
  $(".javascript-request").remove();

  $('#login-link').click(function(event) {
    event.preventDefault();
    $('#login').toggleClass("hidden");
    $('#signup').addClass("hidden");
  });

  $('#signup-link').click(function(event) {
    event.preventDefault();
    $('#login').addClass("hidden");
    $("#signup").removeClass("hidden");
  });

  $('#signup').on("submit", function(event) {
    // prevent default
    event.preventDefault();
    var $target = $(event.currentTarget);
    var formData = $target.serializeJSON();

    // ajax the request
    $.ajax({
      url: "<%= users_url %>",
      type: "POST",
      data: formData,

      // on success, replace top of page and hide form
      success: function(data) {
        $("body").prepend("<div class='signed-in'>You are now signed in as " + formData.user.username + "!</div>");
        $("#logout-link").removeClass("hidden");
        $("#signup-link").addClass("hidden");
        $("#signup").addClass("hidden");
      },

      // on failure, render errors
      error: function(data) {
        console.log(data);
        var errorString = "Error: "
        for (key in data.responseJSON) {
          errorString += key + " " + data.responseJSON[key][0];
          break;
        }
        $(".signup-errors").html(errorString);
      }
    })


    // on failure, render errors
    $("signup").addClass("hidden");
  });

  $('#login').on("submit", function(event) {
    // prevent default
    event.preventDefault();
    var $target = $(event.currentTarget);
    var formData = $target.serializeJSON();

    // ajax the request
    $.ajax({
      url: "<%= root_url << "session" %>" ,
      type: "POST",
      data: formData,

      // on success, replace top of page and hide form
      success: function(data) {
        $("body").prepend("<div class='signed-in'>You are now signed in as " + formData.user.username + "!</div>");
        $("#logout-link").removeClass("hidden");
        $("#login-link").addClass("hidden");
        $("#login").addClass("hidden");

        if (Notes) {
          console.log(Notes);
          Notes.currentUser = data.id;
          Notes.currentUserName = data.username;
        }
        location.reload(true);
      },

      // on failure, render errors
      error: function(data) {
        var errorString = "Error: " + data.responseText;
        $(".login-errors").html(errorString);
      }
    })


  });

  $('#logout-link').click(function(event) {
    event.preventDefault();
    $.ajax({
      url: "<%= session_url %>",
      type: "post",
      dataType: "json",
      data: {"_method":"delete"}, // WARNING: SLEAZE. <%# REFACTOR %>
      success: function(data) {
        console.log("happened");
        $('#login-link').removeClass("hidden");
        $('#logout-link').addClass("hidden");
        $('.signed-in').remove();
        $('#current-user').remove();
      },
      error: function(data, textStatus, errorThrown) {
        console.log(errorThrown);
        console.log("error!");

      }
    });

    $('#login-link').removeClass("hidden");
    $('#logout-link').addClass("hidden");
    $('#current-user').remove();
  });
});
</script>

</body>
</html>
